{
  "django" : {
    "apps_dir" : "<apps dir>",
    "apps" : {
      "triptracker" : {
        "public_port" : 80,
        "local_port" : 8080,
        "local_ip" : "127.0.0.1",
        "app_dir" : "<app dir>",
        "repo" : "<git repo off app>"
        "git_ops" : "<any extra git options for the clone>"
      }
    }
  },
  "run_list": [
    "recipe[django]",
    "recipe[vim]"
  ]
}
